[Unit]
Description=Audio playback service
Wants=ss-inf.service
After=ss-inf.service

[Service]
User=pi
Type=simple
ExecStart=run_audio_playback.sh

[Install]
WantedBy=multi-user.target

