[Unit]
Description=Buzz Device Service
Wants=ss-yamnet-inf.service
After=ss-yamnet-inf.service

[Service]
User=root
Type=simple
ExecStart=ss-buzz.sh 132 .70 default 4 10 255

[Install]
WantedBy=multi-user.target

