[Unit]
Description=Buzz Device Service
Wants=ss-yamnet-inf.service
After=ss-yamnet-inf.service

[Service]
User=root
Type=simple
ExecStart=ss-buzz.sh 20 .40 alert 2 1 128

[Install]
WantedBy=multi-user.target

