[Unit]
Description=User Interface Service
Wants=ss-inf.service
After=ss-inf.service

[Service]
User=pi
Type=simple
ExecStart=/home/pi/start-ss-gui.sh

[Install]
WantedBy=multi-user.target

