[Unit]
Description=Backoff Service
Wants=ss-inf.service
After=ss-inf.service

[Service]
User=pi
Type=simple
ExecStart=ss-heartbeat.sh

[Install]
WantedBy=multi-user.target

