[Unit]
Description=Audio Inference Service
After=rabbitmq-server.service
After=seeed-voicecard.service
Wants=alsa-utils.service
Wants=rabbitmq-server.service

[Service]
User=pi
Type=simple
ExecStart=/usr/local/start-ss-inf.sh

[Install]
WantedBy=multi-user.target

