[Unit]
Description=User Interface Service
Wants=ss-yamnet-inf.service
After=ss-yamnet-inf.service

[Service]
User=pi
Type=simple
ExecStart=ss-inf-gui.sh

[Install]
WantedBy=multi-user.target

