[Unit]
Description=Notification (Baby Laughter) Service
Wants=ss-yamnet-inf.service
After=ss-yamnet-inf.service

[Service]
User=pi
Type=simple
ExecStart=ss-notification.sh 14 .4

[Install]
WantedBy=multi-user.target

