[Unit]
Description=Notification (Child) Service
Wants=ss-yamnet-inf.service
After=ss-yamnet-inf.service

[Service]
User=pi
Type=simple
ExecStart=ss-notification.sh 1 .4

[Install]
WantedBy=multi-user.target

