[Unit]
Description=Notification (Woman) Service
Wants=ss-inf.service
After=ss-inf.service

[Service]
User=pi
Type=simple
ExecStart=ss-notification.sh 2 .4

[Install]
WantedBy=multi-user.target

