[Unit]
Description=Backoff Service
Wants=ss-inf.service
After=ss-inf.service

[Service]
User=pi
Type=simple
ExecStart=start-notification.sh 2 .4

[Install]
WantedBy=multi-user.target

