[Unit]
Description=TTGO Device Service
Wants=ss-yamnet-inf.service
After=ss-yamnet-inf.service

[Service]
User=root
Type=simple
ExecStart=ss-ttgo-inf.sh 70 .80 

[Install]
WantedBy=multi-user.target

