[Unit]
Description=Buzz Device Service
Wants=ss-yamnet-inf.service
After=ss-yamnet-inf.service

[Service]
User=root
Type=simple
ExecStart=ss-buzz-controller.sh

[Install]
WantedBy=multi-user.target

