<!DOCTYPE html>
<html>
<head>
</head>

<body>
	
	<form action="/ss/labeler/work" method="GET" >
		Max Samples: <input type="text" name="max_samnples" value="10"><br>
		Confidence: <input type="text" name="confidence" value=".5"><br>
		Separation: <input type="text" name="separation" value="3"><br>
		Class Index: <input type="text" name="index" value="0"><br>
		From Date: <input type="text" name="from" value="1999-01-01"><br>
		To Date: <input type="text" name="to" value="2999-01-01"><br>
		
  	<input type="submit" value="Submit">
</form>
</body>
