<!DOCTYPE html>
<html>
<head>
</head>

<body>
	
	<form action="/ss/labeler/label" method="POST" >
		<table>
		<tr>
			<th>Time</th>
			<th>Conf</th>
			<th>Audio</th>
			<th>Span</th>
			<th>Label</th>
		</tr>
		{% for idx,row in index.iterrows() %}
		
		<tr>
		
			<td> {{ row.dt }} </td>
			<td> {{ '{0:0.2f}'.format(row.conf) }} </td>
			<td>
				<audio controls preload="auto" autobuffer>
				<source
					src="/ss/labeler/play?aud_time={{ row.time }}&aud_duration=5.0"
					type="audio/mpeg">
				Your browser does not support the audio element.
				</audio>
			</td>
			<td>
				<input type="checkbox" name="span_t" value="{{ row.time }}"> 
			</td>
			<td>
			<select name="label-{{ row.time }}">
			{% for v in classes %}
			<option value=" {{ v }} " >{{ v }}</option>
			{% endfor %}
			
			</select>
			</tr>		
   		{% endfor %}
   		
		</table>
  
		<input type="hidden" name="span" value="{{ span }}">
  	<input type="submit" value="Submit">
</form>
</body>
