<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
	integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
	integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ"
	crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
	integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
	crossorigin="anonymous"></script>
</head>

<body>
	<center>
	<form action="/ss/hist_plot/prior_plot" method="GET" >
		<select name="secs_prior">
			<option value=600>10 min..</option>
			<option value="3600">1 hr.</option>
			<option value="7200">2 hr.</option>
			<option value="28800">8 hr.</option>
			<option value="86400">1 day.</option>
		</select><br/>
		<input type="checkbox" name="stacked" value="stacked" checked> stacked<br>
		<input type="text" name="max_classes" value="10"> Max Classes (521)<br>
		<input type="text" name="max_samples" value="100"> Samples (-1) <br>
		
		 <select name="idxs" multiple>
		  	{% for key,value in idx_options.items() %}
		  		<option value="{{ key }}">{{ value }}</option>
		  	{% endfor %}
		 </select> <br/>
		
  	<input type="submit" value="Submit">
  	<br>
	</form>
	</center>
	
</body>
